body {
    margin: 0;
    background: #0044a2;
}

.container {
    display: flex;
    justify-content: space-around;
}

.button {
width: 45px;
height: 45px;
left: 82px;
top: 271px;
background-color: #0044a2;
color: #ec6c03;
border: 2px solid #ec6c03;
border-radius: 5px;
font-family: 'Cursed Timer ULiL', sans-serif;
font-size: 18px;
font-weight: 400;
margin: -7px 8px 0px 0px;
}

h3 {

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;

/* identical to box height, or 90% */

text-align: center;

color: #EEEEEE;
}

.homeScoreBox, .guestScoreBox {
margin-top: -20px;
margin-bottom: 25px;
width: 155px;
height: 120px;
background: #080001;
border: 3px solid #ec6c03;
border-radius: 5px;
text-align: center;
}

.score {
    padding-left: 0%;
    margin-top: 6px;
    color: white;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 100px;
    color: #ec6c03
}

.buttons {
    display: inline-block;
    margin: 50px;
}